 
.pivotal-logo {
  height: 46px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}
  
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
