.more-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
.transparent-background { background-color: rgba(0, 0, 0, 0); }

.mat-fab-bottom-right {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: white;
}